# Gemini API KEY
GOOGLE_API_KEY=

# QDRANT CONFIGURATION
QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_API_KEY=

# QDRANT COLLECTION CONFIGURATION
COLLECTION_NAME=Problems
VECTOR_SIZE=384

#LANGCHAIN CONFIGURATION
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT= Codoc_Chatbot_v1
LANGCHAIN_API_KEY = 