# Gemini API KEY
GOOGLE_API_KEY=

# QDRANT CONFIGURATION
QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_API_KEY=

# QDRANT COLLECTION CONFIGURATION
COLLECTION_NAME=Problems
VECTOR_SIZE=384

#LANGFUSE CONFIGURATION
LANGFUSE_SECRET_KEY = 
LANGFUSE_PUBLIC_KEY = 
LANGFUSE_BASE_URL = "https://us.cloud.langfuse.com"