# Qdrant URL (Local)
QDRANT_URL=http://localhost:6333

# Gemini API KEY
GOOGLE_API_KEY=AIzaSyAqva-tQsoLjwR9Tx_QmpY61x6MGfaBMtc

# QDRANT CONFIGURATION
QDRANT_HOST=qdrant
QDRANT_PORT=6333

QDRANT_API_KEY=

# Project Settings
ENV_MODE=dev