# [FastAPI Core]
fastapi[standard]
uvicorn
python-dotenv
pydantic
httpx

# [LangChain Framework]
langchain>=0.3.0
langchain-community>=0.3.0
langchain-huggingface==1.2.0
langchain-openai
langchain-qdrant
langfuse==2.50.0

# [Gemini]
langchain-google-genai>=2.0.0
google-genai>=0.3.0

# [HuggingFace & ML]
huggingface-hub>=0.33.4, <1.0.0
transformers<5.0.0
sentence-transformers

# [DB Client]
qdrant-client

# [Utilities]
pillow
tiktoken
pytest
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
prometheus-client

sentence-transformers
python-json-logger

# [Redis]
redis>=7.2.0

# [MCP]
mcp>=1.0.0
langchain-mcp-adapters>=0.1.0

SQLAlchemy>=2.0.0
asyncpg
alembic
greenlet
