# [FastAPI Core]
fastapi[standard]
uvicorn
python-dotenv
pydantic
httpx

# [LangChain Framework]
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-qdrant

# [DB Client]
qdrant-client

# [Utilities]
pillow
tiktoken
pytest

sentence-transformers
